<div class="row">
	<div class="col-md-12">
		<h2>Groups</h2>

		<div class="pull-right" style="padding-bottom:10px;">
			<%= link_to "New Group", new_group_path, class: "btn btn-info" %>
		</div>

		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th width="25%">Title</th>
					<th width="50%">Description</th>
					<th width="25%">Options</th>
				</tr>
			</thead>
			<tbody>
				<% @groups.each do |group| %>
					<tr>
						<td><%= link_to group.title, group_path(group) %></td>
						<td><%= truncate group.description, length:25 %></td>
						<td>
							<%= link_to "edit", edit_group_path(group) %>
							<%= link_to "remove", group_path(group), method: :delete, data: {confirm: "Sure?"} %>
						</td>
					</tr>
				<% end %> 
			</tbody>
		</table>
	</div>
</div>
