<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>New Group</h2>
		<%= simple_form_for @group do |f| %>
			<div>
				<%= f.input :title %>
				<%= f.input :description %>
			</div>
			<div>
				<%= f.submit "Save", data: {disable_with: "Submitting..."}, class: "btn btn-default" %>
				<%= link_to "Cancel", groups_path, class: "btn btn-default" %>
			</div>
		<% end %>
	</div>
</div>